[package]
name = "semioscan"
version = "0.1.0"
edition = "2021"

[dependencies]
alloy-chains.workspace = true
alloy-contract.workspace = true
alloy-dyn-abi.workspace = true
alloy-network.workspace = true
alloy-primitives.workspace = true
alloy-provider.workspace = true
alloy-rpc-types.workspace = true
alloy-sol-types.workspace = true
alloy-sol-type-parser.workspace = true
axum.workspace = true
anyhow.workspace = true
clap.workspace = true
common.workspace = true
dotenvy.workspace = true
erc20-rs.workspace = true
odos-sdk.workspace = true
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
